{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehicule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
            </tr>
            <tr>
                <th>Compteurkm</th>
                <td>{{ vehicule.compteurKm }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{% if vehicule.state %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isintervention</th>
                <td>{% if vehicule.isIntervention %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Assurance</th>
                <td>{% if vehicule.assurance %}{{ vehicule.assurance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ct</th>
                <td>{% if vehicule.ct %}{{ vehicule.ct|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehicule_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vehicule_edit', { 'id': vehicule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
